.page {
  @include grid;
  @include grid-base;

  background: $black;
  padding-bottom: $base-size * 5;
  padding-top: $base-size * 10;

  &__header {
    @include grid;
    @include grid-base;

    grid-column: 1/-1;

    &--container {
      @include grid;
      @include grid-post;

      grid-column: 2;
      padding-bottom: $base-size * 2;
      padding-top: $base-size * 3;

      @include viewport(xs-small) {
        padding-top: $base-size * 6;
      }
    }

    &--title {
      @include font-color($white, primary);
      @include font-headline3;
      @include font-weight(bold);

      grid-column: 1/-1;
      margin-bottom: $base-size * 0.5;

      @include viewport(xs-medium) {
        @include font-headline2;
      }

      @include viewport(sm-small) {
        grid-column: 2;
      }
    }
  }

  &__content {
    @include grid;
    @include grid-base;

    grid-column: 1/-1;

    @include viewport(sm-small) {
      &--container > * {
        grid-column: 2;
      }
    }

    &--container {
      @include grid;
      @include grid-post;

      grid-column: 2;
      row-gap: $base-size;
    }

    .headline-link {
      @include font-color($secondary, primary);

      text-decoration: underline;
    }

    h1 {
      @include font-color($white, primary);
      @include font-headline3;
      @include font-weight(bold);

      @include viewport(xs-medium) {
        @include font-headline2;
      }
    }

    h1::before {
      content: "";
      display: block;
      height: $base-size * 5;
    }

    h2,
    h3,
    h4 {
      @include font-headline4;
      @include font-color($white, primary);

      @include viewport(xs-medium) {
        @include font-headline3;
      }

      &::before {
        content: "";
        display: block;
        height: $base-size * 5;
        pointer-events: none;
        visibility: hidden;
      }
    }

    h2:hover,
    h3:hover,
    h4:hover {
      .headline-link {
        @include font-color($secondary, primary);
      }
    }

    p {
      @include font-body-text;
      @include font-color($white, primary);

      @include viewport(xs-small) {
        @include font-body-text-l;
      }

      + p {
        margin-top: $base-size;
      }
    }

    ul,
    ol {
      margin-bottom: $base-size * 1.5;
      margin-left: $base-size;
    }

    li {
      @include font-body-text;
      @include font-color($white, primary);

      @include viewport(xs-small) {
        @include font-body-l;
      }

      > ul {
        margin: ($base-size * 0.5);
      }
    }

    li li:not(:last-child) {
      margin-bottom: $base-size * 0.75;
    }
  }
}
