.contato {
  @include grid();
  @include grid--base();
  background-color: $gray;
  padding: 3rem 0;

  @include viewport(xs-small) {
    padding: 4.5rem 0;
  }

  @include viewport(md-medium) {
    padding: 7.5rem 0;
  }

  &__call {
    @include flex();
    @include flex--center();
    @include flex--column();
    grid-column: span 4;
    justify-content: center;

    @include viewport(sm-small) {
      grid-column: span 8;
    }

    @include viewport(sm-medium) {
      grid-column: span 12;
    }

    &--cta {
      @include font--position(center);
      @include font--color($white, primary);
      @include font--headline4();

      @include viewport(xs-small) {
        @include font--headline3();
      }

      @include viewport(md-medium) {
        @include font--headline2();
        max-width: 900px;
      }
    }
  }

  .btn {
    margin-top: $base-size * 1.5;

    @include viewport(xs-small) {
      margin-top: $base-size * 2.5;
    }
  }
}
