.contato {
  @include grid;
  @include grid-base;

  background-color: $black;
  padding-bottom: 3rem;
  padding-top: 3rem;

  @include viewport(xs-small) {
    padding-bottom: 4.5rem;
    padding-top: 4.5rem;
  }

  @include viewport(md-medium) {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }

  &__info {
    grid-column: 1/-1;

    @include viewport(xs-large) {
      grid-column: span 4;
    }

    @include viewport(sm-small) {
      @include font-position(center);

      grid-column: 2/-2;
    }

    @include viewport(md-small) {
      grid-column: 3/-3;
    }
  }

  &__call {
    @include flex;
    @include flex-column;

    justify-content: center;

    &--cta {
      @include typescale(scale-3, bold, headline);

      color: $white;
      margin-bottom: $base-size * 0.5;

      @include viewport(xs-small) {
        @include typescale(scale-4, bold, headline);
      }

      @include viewport(sm-small) {
        @include typescale(scale-5, bold, headline);
      }
    }

    &--subtitle {
      @include typescale(scale-1, normal, text);

      color: $black-30;
      margin-bottom: $base-size * 2;
      max-width: 680px;

      @include viewport(xs-small) {
        @include typescale(scale-2, normal, text);
      }
    }

    &--email {
      @include typescale(scale-1, bold, text);

      color: $secondary-30;
      word-break: break-all;

      @include viewport(xs-small) {
        @include typescale(scale-2, bold, text);
      }
    }
  }
}
