.footer {
  @include grid();
  @include grid--base();
  align-items: center;
  background-color: $black;

  &__container {
    @include flex();
    align-items: center;
    flex-wrap: wrap;
    grid-column: span 4;
    padding: ($base-size * 2) 0;

    @include viewport(xs-small) {
      grid-column: span 4;
    }

    @include viewport(sm-small) {
      gap: $base-size;
      grid-column: span 8;
    }

    @include viewport(sm-medium) {
      grid-column: span 12;
    }

    &--copyright {
      @include center--vertical();
      @include font--color($white, secondary);
      @include font--body--text();
      margin: ($base-size) 0;
    }

    &--spacer {
      flex-grow: 1;
    }
  }

  &__container--social {
    @include flex();
    flex-wrap: wrap;
    list-style-type: none;

    li {
      margin: ($base-size * .5) 0;
    }

    > li:not(:last-child) {
      margin-right: $base-size;
    }

    a {
      @include font--color($white, secondary);
      @include font--body();
      padding: .5rem 0;
      text-decoration: underline;
    }

    a:hover,
    a:focus {
      @include font--color($white, primary);
    }
  }
}
