.hero {
  @include grid;
  @include grid-base;

  background-color: $black;

  &__normal {
    @include flex;
    @include flex-column;

    grid-column: 1/-1;
    justify-content: center;
    min-height: 98vh;
    padding-top: $base-size * 4;

    @include viewport(default, landscape) {
      min-height: 100vh;
      margin-bottom: $base-size * 1.5;
    }

    @include viewport(xs-small) {
      min-height: 96vh;
    }

    @include viewport(xs-medium) {
      min-height: 96vh;
    }

    @include viewport(sm-small) {
      grid-column: span 6;
    }

    @include viewport(sm-medium) {
      grid-column: span 6;
    }

    @include viewport(md-small) {
      grid-column: span 8;
      margin-bottom: $base-size * 0.5;
    }

    &--text {
      @include center-vertical;
    }

    &--title {
      @include typescale(scale-3, bold, headline);

      color: $white;
      margin-bottom: $base-size * 0.25;

      @include viewport(xs-small) {
        @include typescale(scale-4, bold, headline);

        margin-bottom: $base-size * 0.5;
      }

      @include viewport(xs-medium) {
        @include typescale(scale-4, bold, headline);
      }

      @include viewport(xs-large) {
        @include typescale(scale-5, bold, headline);
      }

      @include viewport(sm-medium) {
        @include typescale(scale-6, bold, headline);
      }

      @include viewport(md-small) {
        @include typescale(scale-6, bold, headline);
      }
    }

    &--subtitle {
      @include typescale(scale-1, normal, text);

      color: $black-30;

      @include viewport(xs-small) {
        @include typescale(scale-2, normal, text);
      }

      @include viewport(xs-medium) {
        @include typescale(scale-2, normal, text);
      }

      @include viewport(sm-medium) {
        @include typescale(scale-3, normal, text);
      }
    }

    &--scroll {
      margin: 0 auto $base-size auto;
    }

    &--down {
      @include center-horizontal;

      display: block;
      border-color: $white;
      border-radius: 50%;
      border-style: solid;
      border-width: 2px;
      fill: $white;
      padding: 0.625rem;
      width: $base-size * 3;
    }
  }
}
