.hero {
  @include grid;
  @include grid-base;

  position: relative;

  .stripes{
    background:
      repeating-linear-gradient(
         125.55deg,
         #0f0f0f,
         #0f0f0f 10%,
         #3a3a3a 10%,
         #3a3a3a 20%
      );
    content: "";
    inset: 0;
    mask-image: linear-gradient(180deg, rgba(0 0 0 / 90%) 8.26%, rgba(0 0 0 / 5%) 69.96%, rgba(3 3 3 / 5%) 69.97%, rgba(255 255 255 / 0%) 100%, rgba(0 0 0 / 0%) 100%);
    opacity: 0.3;
    position: absolute;
  }

  &__normal {
    @include flex;
    @include flex-column;

    grid-column: 1/-1;
    justify-content: center;
    min-height: 98vh;
    padding-top: $base-size * 4;

    @include viewport(default, landscape) {
      min-height: 100vh;
      margin-bottom: $base-size * 1.5;
    }

    @include viewport(xs-small) {
      min-height: 96vh;
    }

    @include viewport(xs-medium) {
      min-height: 96vh;
    }

    @include viewport(sm-small) {
      grid-column: span 6;
    }

    @include viewport(sm-medium) {
      grid-column: span 6;
    }

    @include viewport(md-small) {
      grid-column: span 8;
      margin-bottom: $base-size * 0.5;
    }

    &--text {
      margin: 40% 0 auto;
    }

    &--title {
      @include typescale(scale-3, bold, headline);

      color: $white;
      margin-bottom: $base-size * 0.25;

      @include viewport(xs-small) {
        @include typescale(scale-4, bold, headline);

        margin-bottom: $base-size * 0.5;
      }

      @include viewport(xs-medium) {
        @include typescale(scale-4, bold, headline);
      }

      @include viewport(xs-large) {
        @include typescale(scale-5, bold, headline);
      }

      @include viewport(sm-medium) {
        @include typescale(scale-6, bold, headline);
      }

      @include viewport(md-small) {
        @include typescale(scale-6, bold, headline);
      }
    }

    &--subtitle {
      @include typescale(scale-1, normal, text);

      color: $black-30;

      @include viewport(xs-small) {
        @include typescale(scale-2, normal, text);
      }

      @include viewport(xs-medium) {
        @include typescale(scale-2, normal, text);
      }

      @include viewport(sm-medium) {
        @include typescale(scale-3, normal, text);
      }
    }
  }
}


