<section class="contato" id="contato">
  <div class="grid--module">
    <div class="contato__call">
      <p class="contato__call--cta">Se você quer começar um projeto ou acha que eu sou a pessoa certa para sua equipe.
      </p>
      <a role="button" href="mailto:{{ site.author.email | base64 }}" class="btn btn__primary">Entre em contato</a>
    </div>
  </div>
</section>
