<section class="contato" id="contato">
	<div class="contato__gradient"></div>
	<div class="grid__module--site">
		<div class="contato__info">
			<div class="contato__call">
				<h2 class="contato__call--cta">Vamos conversar!</h2>
				<p class="contato__call--subtitle">Me chama no
					<a href="{{site.social | map: 'url' | last }}">LinkedIn</a>
					ou manda um email para
					<a href="mailto:{{ site.author.email | encode }}"
						class="contato__call--email">
						<b>design</b>{{ site.author.email }}
					</a>
				</p>
			</div>
		</div>
	</div>
</section>
