<footer class="footer grid--base">
    <div class="grid--module">
      <div class="footer__container">
        <div class="footer__container--copyright">
          <p>&copy;2019 &ndash; {% year %} {{site.title}}<br>Todos os direitos reservados.</p>
        </div>
        <div class="footer__container--spacer"></div>
        <ul class="footer__container--social">
          {% if site.author.email == blank %}
            {% else %}
            <li>
              <a href="mailto:{{ site.author.email }}">Email</a>
            </li>
          {% endif %}
          {%- for link in social.links -%}
          <li><a href="{{ link.url }}" rel="noopener">{{link.name}}</a></li>
          {%- endfor -%}
        </ul>
      </div></div>
  </footer>
