<section class="hero">
    <div class=stripes></div>
  <div class="grid--module">
    <div class="hero__normal ">
      <div class="hero__normal--text">
        <h1 class="hero__normal--title">Olá! &#128075;&#127998;<br>Meu nome é Adilson Santos.</h1>
        <p class="hero__normal--subtitle">Sou um designer multidisciplinar que atua na criação de interfaces, identidades visuais e direção de arte.</p>
      </div>
    </div>
  </div>
</section>
