@use "../abstracts/mixins";
@use "../abstracts/variables";

.hero {
  @include mixins.grid;

  align-items: center;
  height: 100vh;
  position: relative;

  &--container {
    z-index: 2;
  }

  &--title {
    @include mixins.font-position(center);
    @include mixins.typescale(scale-6, medium, title);

    color: variables.$white;
    margin: 0;
  }

  .btn {
    display: inline-flex;
    justify-self: center;
    margin-top: variables.$space-m;
  }
}
