.post {
  @include grid;

  background: $black;
  padding-top: $base-size * 3.5;

  &__header {
    min-height: 55vh;

    &--container {
      padding-top: $base-size * 3;
      padding-bottom: $base-size * 2;

      @include viewport(xsmall) {
        padding-top: $base-size * 6;
      }
    }

    &--title {
      @include typescale(scale-3, bold, headline);

      color: $white;
      margin-bottom: $base-size * 0.5;
    }

    &--description {
      @include typescale(scale-0, normal, text);

      color: $white-80;
    }
  }



  &__hero {
    @include grid;


    &--container {
      @include grid;

      border-bottom: 2px solid $black-30;
    }
  }

  &__info {
    @include grid;

    gap: $base-size * 1.5;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    margin: $base-size * 2 0;

  }

  &__info--title {
    @include typescale(scale-0, bold, headline);

    color: $white;
    margin-bottom: $base-size * 0.25;
  }

  &__info--list {
    margin-bottom: $base-size * 1.5;
    margin-left: $base-size;
  }

  &__info--text {
    @include typescale(scale-0, normal, text);

    color: $white-80;
  }

  &__splash {
    @include grid;

    &--container {
      @include grid;

    }

    &--picture {
      @include center-horizontal;
      @include aspect-ratio(1920, 960);

      overflow: hidden;
      position: relative;
      width: 100%;
    }

    &--image {
      color: $white;
      height: auto;
      max-width: none;
      position: absolute;
      top: 0;
      width: 100%;

    }
  }

  &__content {
    @include grid;

  :is(h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, li){
      max-width: 640px;
      margin: auto;
    }

    &--container {
      @include grid;

      row-gap: $base-size;
    }

    @include viewport(large) {
      &--container > * {
        grid-column: 2;
      }
    }

    .headline-link {
      color: $white;
      text-decoration: underline;
    }

    h2,
    h3,
    h4 {
      @include typescale(scale-1, bold, headline);

      color: $white-90;
      margin-top: $base-size * 2;
      width: 100%;

      // @include viewport(xs-small) {
      //   @include typescale(scale-3, bold, headline);
      // }
    }

    p {
      @include typescale(scale-0, normal, text);
      @include font-family("iA Writer");

      color: $white-80;


      // @include viewport(md-medium) {
      //   @include typescale(scale-2, normal, text);
      // }
    }

    ul,
    ol {
      @include typescale(scale-0, normal, text);

      padding-left: $base-size;
    }

    li > ul {
      margin: ($base-size * 0.5);
    }

    li {
      @include typescale(scale-0, normal, text);
      @include font-family("iA Writer");

      color: $white-80;
    }

    li:not(:last-child) {
      margin-bottom: $base-size * 0.5;
    }
  }

  blockquote {
    border-left: 2px solid $primary;
    padding-left: $base-size * 2;
    margin: $base-size * 2 auto;

    p {
      @include typescale(scale-1, normal, text);

      color: $white-90;
      margin: 0;
    }

    cite {
      @include typescale(scale-0, bold, headline);

      font-style: normal;
      color: $white-80;
      margin-top: $base-size;
    }
  }

  &__photo {
    @include center-horizontal;

    max-width: 1280px;
    overflow: hidden;
    width: 100%;
  }

  &__photo > img {
    height: auto;
  }

  // span {
  //   grid-column: 1/-1;
  // }

}
