<!DOCTYPE html>
<html lang="{{ site.lang }}" class="no-js">
  <head>
    <script 'sha256-d00dd2a0d9ce8ff543e6b2ad5836f83d2bcdf01afe41189b6f094cfbce2891f6'>document.documentElement.classList.remove("no-js")</script>
      <!-- htmlmin:ignore -->
    {% include meta %}
      <!-- htmlmin:ignore -->
    {% assign main_js = js-manifest['main.js'] | prepend: '/assets/js/' %}
    <script async src="{{ main_js }}"></script>
  </head>
  <body>
    {% include header %} {{ content }}
    {% include footer %}
    {% include scripts %}
    {% include css %}
  </body>
</html>
