<!DOCTYPE html>
<html lang="{{ site.lang }}" class="no-js">
  <head>
    <script>document.documentElement.classList.remove("no-js")</script>
      <!-- htmlmin:ignore -->
    {% include meta %}
      <!-- htmlmin:ignore -->
    {% assign main_js = site.data.js-manifest['main.js'] | default: 'main.js' | prepend: '/assets/js/' %}
    <script type="module" async src="{{ main_js }}"></script>
  </head>
  <body>
    {% include header %} {{ content }}
    {% include footer %}
    {% include scripts %}
    <link rel="stylesheet" href="{{ layout | prepend: '/assets/css/' | append: '.css'}}">
  </body>
</html>
