  <!DOCTYPE html>
  <html lang="{{ site.lang }}">
  <head>
    <meta charset="UTF-8"/>
    <!-- htmlmin:ignore -->
    {% include "meta" %}
    <!-- htmlmin:ignore -->
    <link rel="preload" as="font" href="/assets/fonts/Inter-Regular.woff2" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="/assets/fonts/Inter-Medium.woff2" type="font/woff2" crossorigin=>
    {% assign main_js = js-manifest['main.js'] | prepend: '/assets/js/' %}
    <script async src="{{ main_js }}"></script>
  </head>
    {% comment %}
    TODO adicionar skip to main
    {% endcomment %}
  <body>
    {%- comment -%}
      Bypass Facebook tracking:
      https://krausefx.com/blog/ios-privacy-instagram-and-facebook-can-track-anything-you-do-on-any-website-in-their-in-app-browser#how-to-protect-yourself-as-a-user
    {%- endcomment -%}
    <span id="iab-pcm-sdk"></span>
    <span id="iab-autofill-sdk"></span>
    {% include "header" %}
    <main>
      <div class="noise"></div>
    {{ content }}
    </main>
    {% include "footer" %}
    {% include "css" %}
  </body>
</html>
