<!DOCTYPE html>
<html lang="{{ site.lang }}" class="no-js">
  <head>
    <script type="text/javascript">document.documentElement.classList.remove("no-js")</script>
      <!-- htmlmin:ignore -->
    {% include meta %}
      <!-- htmlmin:ignore -->
    {% assign main_js = js-manifest['main.js'] | prepend: '/assets/js/' %}
    <script async src="{{ main_js }}"></script>
  </head>
  <body>
    {% include header %} {{ content }}
    {% include footer %}
    {% include scripts %}
    {% include css %}
  </body>
</html>
