---
layout: default
---
<article class="page grid--module" role="article">
  <!-- <div class="page__header">
    <div class="page__header--container"><h1 class="page__header--title" itemprop="name headline">{{ title | escape }}</h1></div>
  </div> -->
  <div class="page__content" itemprop="articleBody">
    <div class="page__content--container">
      {{ content }}
    </div>
  </div>
</article>
  <section id="contato" class="contato">
    <div class="grid--module">
      <div class="contato__call">
        <p class="contato__call--cta">Se você quer começar um projeto ou acha que eu sou a pessoa certa para sua equipe.
        </p>
        <a role="button" href="mailto:{{ site.email | encode_email }}" class="btn btn__primary">Entre em contato</a>
      </div>
  </section>
</div>
