@use "../abstracts/mixins";
@use "../abstracts/variables";

.hero {
  @include mixins.grid;

  height: 100%;
  position: relative;

  &__container {
    width: 100vw;
  }

  &__normal {
    @include mixins.flex;
    @include mixins.flex-column;

    justify-content: center;
    min-height: 96svh;
    padding-bottom: variables.$base-size * 0.5;
    padding-top: variables.$base-size * 4.5;
    z-index: 2;

    &--title {
      @include mixins.typescale(scale-4, bold, title);

      color: variables.$white;
    }

    &--subtitle {
      @include mixins.font-family("iA Writer");
      @include mixins.typescale(scale-1, normal, text);

      color: variables.$white-80;
      margin-top: variables.$base-size * .5;
      max-width: variables.$base-size * 40;
    }
  }
}


