// Brand Colors
$black: #111;
$primary: #f4252b;
$secondary: #d1a347;
$white: #f2f2f2;

// Secondary Colors
$black-30: #a8a8a8;
$black-40: #8d8d8d;
$black-80: #262626;
$black-90: #181818;
$primary-70: #b91c21;
$secondary-30: #dbb76e;

// Sizes
$base-size: 16px;
$page-width: $base-size * 80;

// Breakpoints
$grid-breakpoints-map: (
  default: (
    width: 0,
    column: 4,
    margin: $base-size,
    gap: 16px,
  ),
  xs-small: (
    width: 319px,
    column: 4,
    margin: $base-size,
    gap: 16px,
  ),
  xs-medium: (
    width: 479px,
    column: 4,
    margin: $base-size * 1.5,
    gap: 24px,
  ),
  xs-large: (
    width: 639px,
    column: 6,
    margin: $base-size * 2.5,
    gap: 24px,
  ),
  sm-small: (
    width: 767px,
    column: 6,
    margin: $base-size * 3,
    gap: 32px,
  ),
  sm-medium: (
    width: 995px,
    column: 6,
    margin: $base-size * 4,
    gap: 32px,
  ),
  md-small: (
    width: 1199px,
    column: 8,
    margin: $base-size * 6,
    gap: 40px,
  ),
  md-medium: (
    width: 1280px,
    column: 8,
    margin: $base-size * 4,
    gap: 48px,
  ),
);

// Animation
$animation-deceleration: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-standard: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-acceleration: cubic-bezier(0.4, 0, 1, 1) !default;
$animation-sharp: cubic-bezier(0.4, 0, 0.6, 1) !default;

// Font Size
$font-size: $base-size;
$type-map: (
  scale-7: (
    size: $base-size * 4,
    spacing: -0.022rem,
  ),
  scale-6: (
    size: $base-size * 3,
    spacing: -0.022rem,
  ),
  scale-5: (
    size: $base-size * 2.5,
    spacing: -0.022rem,
  ),
  scale-4: (
    size: $base-size * 2,
    spacing: -0.022rem,
  ),
  scale-3: (
    size: $base-size * 1.5,
    spacing: -0.019rem,
  ),
  scale-2: (
    size: $base-size * 1.25,
    spacing: -0.017rem,
  ),
  scale-1: (
    size: $base-size,
    spacing: -0.011rem,
  ),
  scale-0: (
    size: $base-size * 0.875,
    spacing: -0.006rem,
  ),);
